.post-info {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
}

.post-info h5 {
    margin: 0;
    font-size: 1.2rem;
}

.post-info p {
    margin-top: 5px;
    color: #333;
}