.user-content {
    width: 720px;
}

.description-container {
    border: 2px solid #FFE0AC;
    border-radius: 5px;
    padding: 5px;
    width: 97%;
}

.user-content h5 {
    margin: 0;
    padding-bottom: 5px;
    font-size: 1.2rem;
}

.description-container p {
    margin: 0;
    color: #333;
}