.u-list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 20px;
    padding-top: 20px;
}
.g-list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 20px;
}

.add-btn {
    margin-left: 295px;
}