.container {
    background-color: white;
    border-radius: 15px;
    border: 15px solid #6886c5;
    padding: 0px;
    margin: 5px 20px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
  }

.left-section {
    padding-right: 20px; /* Add spacing between sections */
}
.left-section h2 {
    text-align: center;
    color: #6886c5;
}
  
.right-section {
    background-color: white;
    border: 15px solid #ffe0ac;
    flex: 1;
}
.right-section p {
    text-align: center;
}
.right-section h2 {
    text-align: center;
    color: #6886c5;
}