
.user-item { display: flex;}

.user-content {
    list-style-type: none;
    padding: 0;
}

.post {
    list-style: none;
}

.user-img {
    list-style-type: none;

  width: 100px;
  height: 100px;
  margin-right: 1rem;
  border-radius: 100%;
}



