.button {
    text-decoration: none;
    font: inherit;
    padding: 8px 110px;
    margin-left: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    background-color: #FFADB9;
}

.button:hover,
.button:active {
    background-color: palevioletred;
}

.post-btn {
    padding: 10px;
    margin: 50px;
    text-decoration: none;
    background-color: #6886C5;
    color: #fff;
}

.edit-btn {
    padding: 4px 20px;
    margin: 0 0 0 520px;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    background-color: #FFADB9;
    color: #fff;
}

.add-btn {
    padding: 35px 10px 5px;
    border-radius: 100%;
    cursor: pointer;
    background-color: #FFADB9;   
}

.delete-btn {
        padding: 4px 20px;
        margin: 0px 520px  0px 0px;
        width: fit-content;
        border: none;
        border-radius: 20px;
        text-decoration: none;
        background-color: #ff0000;
        color: #fff;    
}