.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    margin-left: 12px;
}
.login-container Button {
    margin-right: 15px;
    margin-top: 10px;
}
  
.login-form {
    display: flex;
    flex-direction: column;
}
  
.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
}
  
.login-input {
    margin-bottom: 15px;
}
  
.login-input label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
  
.login-input input {
    width: 97%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}